{% block title %} Frappé Apps {% endblock %}
{% block content %}
<!-- no-header -->
{% if frappe.local.form_dict.txt %}
	<div class="list-hero narrow">
		<h1>
			{{ _('Filtered by "{0}"').format(frappe.local.form_dict.txt) }}
		</h1>
	</div>
{% endif %}
<div class="app-list narrow">
	{% include "templates/includes/list/list.html" %}
</div>

<div class="text-center" style="padding: 100px 0px;">
	<a class="x-large blue button" href="https://frappe.io/tutorial" target="_blank">Make your own app</a>
</div>
{% endblock %}

{% block script %}{% include "templates/includes/list/list.js" %}{% endblock %}
