.container,
.navbar {
	max-width: 800px;
	margin: auto;
}

.hero-and-content .container {
	max-width: 660px;
	margin: auto;
}

.navbar {
	border-left: none;
	border-right: none;
}

.page-content-wrapper {
	padding: 0px;
	padding-bottom: 60px;
}

.page-container[data-doctype="Frappe App"] .page-content-wrapper {
	padding: 30px 0px;
}
