{% if not frappe.local.form_dict.txt %}
<div class="container">
	<div class="row hero" style="border-bottom: none;">
	    <div class="col-sm-12">
	        <img class="erp-hero" src="/assets/frappe_theme/img/developers-apps.svg" style="width: 200px;">
	    </div>
	    <div class="col-sm-12 hero-content" style="margin-top: -30px;">
	        <h1>Apps built on Frappé Framework</h1>
	        <p>List of powerful business apps or nifty extensions built by a community of developers</p>
	    </div>
	</div>
</div>
{% endif %}
